@model Lesson_11_Part2_TvShows.Models.TvShow

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TvShow</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titlle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titlle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImdUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImdUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


@await Component.InvokeAsync("AddRandomMoovies", new { currentTvShowId = Model.Id, genre = Model.Genre })