@{
    ViewData["Title"] = "Products Page";
}

@model List<Product>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Category</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td>@product.Category</td>

                <td><a asp-action="Edit" asp-protocol="https" asp-route-id="@product.Id" class="btn btn-primary">Edit</a></td>

            </tr>

        }
    </tbody>
</table>


